<!DOCTYPE html>

<% if flash.has?(:message) %>
  <%= flash[:message] %>
<% end %>

<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head><h1>Song</h1>
  <h2><%=@song.name%></h2>
  <body>
  <a href="/artists/<%=@song.artist.slug%>"><p><%=@song.artist.name%></p></a>

  <a href="/genres/<%@song.genres.each do |g|%><%=g.slug%><%end%>">
      <p><%@song.genres.each do |g|%><%=g.name%><%end%>
